<div class="flex flex-col">
  <div class="flex w-100">
    <div class="flex-auto">
      <div>
        Current time
      </div>
      <div>
        <%= @current_time.strftime("%I:%M%P") %>
      </div>
    </div>

    <div class="flex-auto">
      <div>
        Min break length
      </div>
      <div>
        <%= @min_break_length %>
      </div>
    </div>

    <div class="flex-auto">
      <div>
        Distance to next :05/:10
      </div>
      <div>
        <%= @distance_to_next_five %>
      </div>
    </div>

    <div class="flex-auto">
      <div>
        Break length
      </div>
      <div>
        <%= @break_length / 60 %>
      </div>
    </div>

    <div class="flex-auto">
      <div>
        Break end time
      </div>
      <div>
        <%= @break_end_without_seconds %>
      </div>
    </div>
  </div>

  <!-- Display the countdown timer in an element -->
  <p id="demo" class="text-9xl"></p>
</div>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("<%= @break_end_for_timer %>").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
